<div id="feedback-highlighter">
    <div class="feedback-logo">Feedback</div>
    <p>Click and drag on the page to highlight areas that your feedback is particularly relevant to. This will help us better understand your feedback. You can move this dialog if it's in the way.</p>
    <button class="feedback-sethighlight feedback-active" style="display: none;">
        <div class="ico"></div>
        <span>Highlight</span>
    </button>
    <button class="feedback-setblackout" style="display: none;">
        <div class="ico"></div><span>Black out</span>
    </button>
    <div class="feedback-buttons">
        <button id="feedback-highlighter-back" class="btn">Back</button>
        <button id="feedback-highlighter-next" class="btn">Next</button>
    </div>
    <div class="feedback-wizard-close"></div>
</div>
