<div id="feedback-submit-success">
    <div class="feedback-logo">Feedback</div>
    <p>Thank you for your feedback. It is a valuable contribution, and we hope that you will benefit from our ongoing work to improve the system.</p>
    <div class="feedback-buttons">
        <button class="feedback-wizard-close btn">OK</button>
    </div>
    <div class="feedback-wizard-close"></div>
</div>
